{% extends "base.html" %}

	{% block content %}

	
	<!-- breadcrumb-section -->

	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Fresh and Organic</p>
						<h1>Cart</h1>
						{% if not current_user.is_authenticated %}
							<p>You must be logged in to add items to your cart</p>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- end breadcrumb section -->

	<!-- cart -->
	{% if current_user.is_authenticated %}

	<div id="cart">
	
		{% if products | length == 0 %}
		<p>Your cart is empty</p>
		{% else %}
		<div class="cart-section mt-150 mb-150">
			<div class="container">
				<div id="item-list" class="row">
					{% for p in products %}
					<div class="container">
						<div class="row cart-item">
							<div class="col md-4">
								<img src="{{url_for('static', filename=p[2])}}">
							</div>
							<div class = "col md-3">{{p[0]}}</div>
							<div class = "col md-2">{{p[3]|string}}€</div>
							<div class = "col md-1">{{p[1]|string}}</div>
							<div class="col md-2"><i class="far fa-window-close"></i></div>
						</div>
					 </div>
					{% endfor %}
				</div>
				<div class="row">
					<div class="col-lg-4">
						<div class="total-section">
							<table class="total-table">
								<thead class="total-table-head">
									<tr class="table-total-row">
										<th>Total</th>
										<th>Price</th>
									</tr>
								</thead>
								<tbody>
									<tr class="total-data">
										<td><strong>Subtotal: </strong></td>
										<td>$500</td>
									</tr>
									<tr class="total-data">
										<td><strong>Shipping: </strong></td>
										<td>$45</td>
									</tr>
									<tr class="total-data">
										<td><strong>Total: </strong></td>
										<td>$545</td>
									</tr>
								</tbody>
							</table>
							<div class="cart-buttons">
								<a href="{{url_for('cart')}}" class="boxed-btn">Update Cart</a>
								<a href="{{url_for('checkout')}}" class="boxed-btn black">Check Out</a>
							</div>
						</div>

						<div class="coupon-section">
							<h3>Apply Coupon</h3>
							<div class="coupon-form-wrap">
								<form action="{{url_for('index')}}">
									<p><input type="text" placeholder="Coupon"></p>
									<p><input type="submit" value="Apply"></p>
								</form>
							</div>
						</div>
					</div>
					<div class="col-lg-2 offset-6">
						<a id="clear-cart" class="boxed-btn black" href="#">Clear Cart</a>
					</div>
				</div>
			</div>
		</div>
		{% endif %}

	</div>

	{% endif %}

	<!-- end cart -->

	{% endblock %}